.idea
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/javadoc-bundle-options
/target/maven-status
/target/surefire-reports
/target/test-classes
/target/*.exec
/target/site/apidocs
/target/site/css
/target/site/fonts
/target/site/images
/target/site/img
/target/site/jacoco
/target/site/js
/target/site/testapidocs
/target/maven-javadoc-plugin-stale-data.txt